@import "../../../styles/variables.scss";

.input_wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  border: none;
  padding: 0.2em 0.4em;
  border-radius: $input-border-radius;
  border: 1px solid transparent;
}

.label {
  font-size: 0.8em;
}

.error {
  color: $danger;
}
.error_border {
  border: 1px solid $danger;
}
